@use 'layout'

.image__container 
    // height: 600px
    width: 800px
    // position: relative

    img
        width: 100%

    .image__overlay
        @include layout.flex-row-center()
        width: 100%
        height: 100%
        // position: absolute
        // top: 0px
        // left: 0px
        // z-index: 5
        // background-color: hsla(0, 0%, 0%, 55%)

        h2
            color: white
            text-align: center
            font-size: 3rem
            

        

    