@import 'https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap';
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100vh;
  font: 100% sans-serif;
  background: none;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background: #F0F4F8;
  color: #334E68;
  height: 100vh;
  width: 100vw;
}
.main__container--dark {
  background: #243B53;
  color: #F0F4F8;
}

a {
  text-decoration: none;
  color: #243B53;
  outline-color: #243B53;
}

li {
  list-style: none;
}

button {
  background: #243B53;
  color: #F0F4F8;
  border-radius: 6px;
  padding: 0.8em 1.4em;
  border: none;
}
button:hover {
  background: #F0F4F8;
  color: #334E68;
  border: 1px solid #627D98;
}

.avatar__container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  height: 170px;
  width: 470px;
  background: #fff;
  padding: 2em;
  border-radius: 8px;
  border: 1px solid black;
}
.avatar__container .avatar__image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.avatar__container .avatar__image-container img {
  height: 100%;
  width: auto;
  aspect-ratio: 1;
  border-radius: 50%;
}
.avatar__container .avatar__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.avatar__container .avatar__content-container ul li {
  padding: 5px;
}
.avatar__container .avatar__content-container ul li span {
  font-weight: 700;
}

.avatar__container-r {
  display: flex;
  flex-direction: row;
  gap: 1em;
  height: 150px;
  width: 440px;
  background: #fff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.avatar__container-r .avatar__image-container-r {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.avatar__container-r .avatar__image-container-r img {
  height: 100%;
  width: auto;
  aspect-ratio: 1;
  border-radius: 50%;
}
.avatar__container-r .avatar__content-container-r {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: #334E68;
  padding-left: 1em;
}
.avatar__container-r .avatar__content-container-r ul li {
  padding: 3px;
}
.avatar__container-r .avatar__content-container-r ul li:first-of-type {
  font-size: 1.1rem;
}
.avatar__container-r .avatar__content-container-r ul li:nth-of-type(2) {
  color: #9d4edd;
}
.avatar__container-r .avatar__content-container-r ul li:nth-of-type(3), .avatar__container-r .avatar__content-container-r ul li:nth-of-type(4) {
  font-size: 0.9rem;
  color: #627D98;
}
.avatar__container-r .avatar__content-container-r ul li span {
  font-weight: 700;
}

.productCard__container {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 550px;
  background: #fff;
  border-radius: 8px;
}
.productCard__container .productCard__image-container {
  width: 40%;
}
.productCard__container .productCard__image-container img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.productCard__container .productCard__content {
  color: #334E68;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
}
.productCard__container .productCard__content .productCard__content-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.productCard__container .productCard__content .productCard__content-heading h3 {
  font-weight: 500;
}
.productCard__container .productCard__content .productCard__content-heading p {
  font-size: 1.2rem;
  font-weight: 700;
}
.productCard__container .productCard__content .productCard__description {
  color: #627D98;
}
.productCard__container .productCard__content .productCard__control {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: flex-start;
}
.productCard__container .productCard__content .productCard__control .ghost {
  margin-right: 5em;
  background-color: red;
}
.productCard__container .productCard__content .productCard__control .secondary {
  background-color: blue;
}
.productCard__container .productCard__content .productCard__control .primary {
  background-color: green;
}

.image__container {
  width: 800px;
  position: relative;
}
.image__container h2 {
  color: black;
  text-align: center;
  font-size: 3rem;
}
.image__container img {
  width: 100%;
}
.image__container .image__overlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.image__container .image__overlay h2 {
  color: white;
  text-align: center;
  font-size: 3rem;
}

.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  transition: width 0.4s ease-in-out;
  z-index: 10;
}
.sidebar--open {
  width: 300px;
}
.sidebar .sidebar__color {
  padding-top: 2em;
  padding-left: 1em;
  height: 100%;
  width: 100%;
  background: #243B53;
  color: #F0F4F8;
}
.sidebar .sidebar__color--dark {
  background: #F0F4F8;
  color: #334E68;
}
.sidebar .sidebar__color .sidebar__btn {
  width: 30px;
  background: transparent;
  border: none;
}
.sidebar .sidebar__color .sidebar__navigation {
  padding-top: 5em;
  padding-left: 1em;
}
.sidebar .sidebar__color .sidebar__navigation .sidebar__nav-link {
  margin-bottom: 3em;
  transform: translateX(-170%);
  font-size: 1.1rem;
  transition: transform 0.4s ease-in-out;
}
.sidebar .sidebar__color .sidebar__navigation .sidebar__nav-link:hover {
  transform: translateX(20px);
  transition: transform 0.1s ease-in-out;
}
.sidebar .sidebar__color .sidebar__navigation .sidebar__nav-link--visible {
  transform: translateX(0%);
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100%;
  width: 50%;
  background: none;
}
.home__container h1 {
  font-size: 2.5rem;
  margin-bottom: 1em;
  font-family: "Bebas Neue", sans-serif;
}
.home__container p {
  font-size: 4.5rem;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}

/*# sourceMappingURL=output.css.map */
